.card-content{
  word-break:break-all
}

nav{
  margin-bottom: 10px;
}

body{
  height: 100%;
}

.liked{
  background-color: red;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  float: left;
}

.unlike{
  background-color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    float: left;
}

.edit{
  background-color: blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    float: left;
}
.delete{
  background-color: blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

